// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  margin: 20px auto;
}

.list-group {
  margin-top: 20px; 
}

.form {
  margin-top: 20px;
}

.results {
  background-color: lightgrey;
  padding: 20px;
  width: 300px;
  margin-top: 20px;
}